
<h2>Agenda</h2>

<input type="date" />

<table class="table">
    <thead>
        <tr>
            <th>Hora</th>
            <th>Paciente</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

